[Unit]
Description=dskills web server
Requires=After=mongod       # Requires the mongo service to run first
[Service]
# Required on some systems
WorkingDirectory=/var/www/aden.org/html/dskills
ExecStart=/usr/local/bin/node server.js
Restart=always
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dst-service
User=dskills
Group=dskills
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

